Options +FollowSymLinks

IndexIgnore */*

RewriteEngine on
RewriteBase  /
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ proffer/web/$1 [L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
#RewriteRule . index.php



