html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}



.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.main_pokaz  {color: #8f0c3c; font-weight: bold;}
.main_schet  {color: #268f17; font-weight: bold;}

#map_q{ 
    width: 100%;
     height: 460px;
}

.adr_potr {
    color: #999;
    font-size: 12px;
    margin-top: 0px;
}

.distance {
   display:none;
}

.logo_site{
    margin-top: 55px;
    margin-left: 20px;
    float: left;
}

.field-inputdataform-time_work,
.field-inputdataform-time_prostoy,
.field-inputdataform-potrebitel
 {
    display: none  ;
}


.field-inputdataform-distance {
    /*width: 70px;*/
    float: left;
}

.primech {
    width: 350px;
    display: block;
}

.field-klient-okpo, .field-klient-regsvid{
    display: none  ;
}

.field-inputdataform-nazv, .field-inputdataform-addr, .s_reestr{
    display: none  ;
}

.nazv_kl {
    color: red;
}

.d9 h3 {
    padding: 0 0 6px 10px;
    border-left: 10px solid #A6D8CB;
    border-bottom: 2px solid #A6D8CB;
}

.d14 h3 {
    display: table;
    width: auto;
    margin: 15px auto;
    letter-spacing: 2px;
}
.d14 h3:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -25px;
    width: 30px;
    height: 20px;
    border-top: 2px solid #fed57b;
    border-left: 2px solid #fed57b;
}
.d14 h3:after {
    content: "";
    position: absolute;
    bottom: -50%;
    right: -25px;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid #fed57b;
    border-right: 2px solid #fed57b;
}

.d15 h3 {
    display: table;
    width: auto;
    margin: 15px auto;
    letter-spacing: 1px;
    font-size: 18px;
}
.d15 h3:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -25px;
    width: 30px;
    height: 20px;
    border-top: 2px solid #fed57b;
    border-left: 2px solid #fed57b;
}
.d15 h3:after {
    content: "";
    position: absolute;
    bottom: -50%;
    right: -25px;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid #fed57b;
    border-right: 2px solid #fed57b;
}

.d6 h3 {
    text-align: center;
    padding-bottom: 10px;
}
.d6 h3:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    height: 2px;
    background: #FA5F4C;
}

.d1 {
    font-family: Verdana;
    font-size: 2.0em;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    text-shadow:
            0 1px 0 #CCCCCC,
            0 2px 0 #C9C9C9,
            0 3px 0 #BBBBBB,
            0 4px 0 #B9B9B9,
            0 5px 0 #AAAAAA,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.span_ramka {
    border: 1px solid black;
    margin-left: 30px;
    padding: 3px 8px;
    /*font-size: 16px;*/
    font-weight: 600;
}
.span_single{
    font-weight: 600;
}
.single_red{
    font-weight: 600;
    color:red;
    margin-top: 20px;
}
.opl_left {
    margin-left: 12px;
    margin-top: 6px;
    font: normal 14px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
}

.th_r {
    text-align: left;
    height: 180px;
    vertical-align: text-top ;
}
.control-label[for=klient-adr_work]{
    text-align: left;
    width: 220px;
}

.itogo_s_nds{
    font-weight: 600;
}

.field-klient-inn,
.field-klient-nazv,
.field-klient-okpo,
.field-klient-addr,
.field-klient-tel,
.field-klient-email,
.field-klient-adr_work,
.field-klient-comment,
.field-klient-regsvid,
.field-klient-person,
.field-klient-priz_nds,
.field-klient-fio_dir,
.field-klient-contact_person{
    margin-bottom: -5px;
}

.row_reg{
    font-size: 13px;
    margin-top: -20px;
}

.field-input_refusal-cause,
.field-klient-fio_dir,
.field-klient-contact_person,
.field-inputdataform-geo,
.field-inputdataform-koord
{
    display: none;
}
.page-header{
    padding-bottom: 0px;
    margin: -5px 0 0px;
}
#klient-date_z{
    width: 80px;
    margin-bottom: -5px;
}

.field-klient-priz_nds{
    display: none;
}
.fontbld {
    font-weight: bold;
}

.ui-datepicker-week-end {
	/*color: red;*/
}

.text-info{color:#8f0c1c;}
.text-proc{color:#A66200;}
.text-opl {color:blue;}

.control-label[for=viewschet-date_z],
.control-label[for=viewschet-adres],
.control-label[for=viewschet-status]
{
    color: #468840;
}
.act_left {
    margin-left: 12px;
    margin-top: 6px;
    font: normal 11px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
}
.act_footer_top {
    margin-left: 12px;
    font: normal 11px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
}
.act_center {
    margin-left: 20px;
    font: bold 15px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
}
.act_center_text {
    margin-left: 20px;
    font: normal 11px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
}
.act_center_itog {
    margin-left: 82%;
    font: bold 11px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
}
.act_center_end {
    margin-left: 5%;
    margin-right: 5%;
    font: normal 11px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
}
.act_line {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    width: 200px;
    align: left;
   }
.act_line_main {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
.act_hr {
    width:150px;
   }
.contract_center{
    width: 100%;
    text-align: center;;
}
.act_center_text_right {
    margin-left: 20px;
    font: normal 11px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
    text-align:  right;
}
.table-hap{
    border: 0px solid white;
    margin-top: 10px;
}
.boldtext{
    font-weight: bold;
}
.contract_center_text_bold {
    margin-left: 20px;
    font: bold 10px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
    width: 100%;
    line-height: 1;
}
.contract_center_text {
    margin-left: 20px;
    font: normal 10px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
    width: 100%;
    line-height: 1px;
}
.contract_text_footer {
    font: normal 10px verdana, "Trebuchet MS", Helvetica, arial, sans-serif;
    width: 100%;
   
}